{% extends 'myapp/base.html' %}

{% load static %}

{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/friends.css' %}"> {% endblock %}

{% block header-title %}友達{% endblock %}

{% block content %}
<div class="friends">
    <form action="{% url 'friends' %}" method="GET">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit">検索</button>
    </form>
    <ul class="friends-list">
        {% for friend in friends %}
            <li class="friend-box">
                <a href="{% url 'talk_room' friend.pk %}" class="friend-talk">
                    <img src="{{ friend.img.url }}">
                    <div class="friend-boxcontent1">
                        {{ friend.username }}
                    </div>
                    <div class="friend-boxcontent2">
                        {{ friend.latesttime }}
                    </div>
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% endblock %}