{% extends 'myapp/base.html' %}

{% load static %}

{% block extra_style %}<link rel="stylesheet" href="{% static 'myapp/css/setting.css' %}"> {% endblock %}

{% block header-title %}設定{% endblock %}

{% block content %}
<div class="setting">
    <div class="box">
        <div class="button">
            <a href="{% url 'username_change' %}" class="content">ユーザー名変更</a>
        </div>
        <div class="button">
            <a href="{% url 'email_change' %}" class="content">メールアドレス変更</a>
        </div>
        <div class="button">
            <a href="{% url 'icon_change' %}" class="content">アイコン変更</a>
        </div>
        <div class="button">
            <a href="{% url 'password_change' %}" class="content">パスワード変更</a>
        </div>
        <div class="button">
            <a href="{% url 'logout' %}" class="content">ログアウト</a>
        </div>
    </div>

    
</div>
{% endblock %}